@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1706440224739') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\f014f";
}

.icon-qq:before {
  content: "\e66a";
}

.icon-weixin:before {
  content: "\e73b";
}

.icon-weibo:before {
  content: "\e73c";
}

.icon-xiala-:before {
  content: "\e629";
}

.icon-qiye:before {
  content: "\e630";
}

